.movies-card-wrapper {
    padding: 10px;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px;
    position: relative;

    .image-holder {
        position: relative;
        display: block;
        height: 350px;
        width: 200px;
        border-radius: 10px;
        box-shadow: 0 2px 6px 0 rgba(32, 33, 34, 0.486);

        &:hover {
            box-shadow: 0px 0px 10px 0 rgba(32, 33, 34, 0.486);
        }

        .rating {
            margin: 10px;
            border-radius: 50px;
            top: 0;
            right: 0;
            height: 35px;
            width: 35px;
            color: white;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.8em;
            font-style: bold;
            background-color: rgb(6, 214, 93);
        }

        img {
            border-radius: 10px;
            transition: all 0.6s ease !important;
            -webkit-transition: 0.6s ease;

            &:hover {
                border-radius: 10px;
                transform: scale(1.1);
            }
        }

        picture {
            margin: 0;
            object-fit: cover;
            transition: 0.3s all ease-in-out;

            &:hover {
                opacity: 1;
            }
        }
    }

    .caption {
        margin: 0;
        color: #c0c0c0;
        font-size: 0.7em;
    }

    .title {
        text-decoration: none;
        margin: 5px 10px 5px 10px;
        color: white;
        font-size: 1em;
        width: 200px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            color: rgb(6, 214, 93);
            cursor: pointer;
        }
    }

}