.blur-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    margin: 0;
    opacity: 0.2;
    .image-holder {
        position: absolute;
        width: 100%;
        height: 100%;
        filter: blur(10px);

    }
}
.movie-layout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;

    .poster {
        height: 500px;
        min-width: 320px;
        border-radius: 10px;
        box-shadow: 0 2px 6px 0 rgba(32, 33, 34, 0.486);

        img {
            border-radius: 10px;
        }
    }

    .details {
        display: flex;
        flex-direction: column;
        margin: 20px 20px 20px 30px;
        width: auto;

        h1 {
            margin: 50px 20px 20px 0px;
            color: white;
            font-size: 3em;
            font-weight: normal;
        }
        
        .caption {
            color: rgb(6, 214, 93);
        }

        .description {
            margin: 10px 20px 20px 0px;
            color: white;
        }

        .buttons {
            display: flex;
            flex-direction: row;

            button {
                background-color: rgb(1, 185, 78);
                border: 0;
                padding: 5px 20px 5px 20px;
                margin: 10px;
                border-radius: 50px;
                color: white;

                &:hover {
                    background-color: rgb(6, 214, 93);
                    box-shadow: 0 2px 6px 0 rgba(0, 223, 85, 0.486);
                }
            }

            .youtube {
                background-color: rgb(230, 19, 4);
                color: white;
                &:hover {
                    background-color: rgb(248, 38, 10);
                    box-shadow: 0 2px 6px 0 rgba(252, 13, 4, 0.596);
                }
            }

            .watch {

            }

            .imdb {
                background-color: rgb(248, 224, 10);
                color: black;
                &:hover {
                    background-color: rgb(248, 232, 10);
                    box-shadow: 0 2px 6px 0 rgba(223, 219, 0, 0.486);
                }
            }
        }
    }
}


$min-tablet: 768px;
$max-tablet: 1024px;
$min-phone: 320px;
$max-phone:480px;

@media (max-width: $max-tablet) {
    .movie-layout{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .details {
            h1 {
                margin: 10px 10px 10px 0px
            }
            .description {
                margin: 10px 0px 10px 0px;
                color: white;
            }
        }
    }
}

@media (min-width: $min-phone) and (max-width: $max-phone) {
    .movie-layout {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .details {
            margin: 10px 10px 10px 10px;
            h1 {
                margin: 10px 10px 20px 0px
            }
        }

        .poster {
            height: 350px;
            min-width: 220px;
        }

        .buttons {
            justify-content: center;
            align-items: center;
        }
    }
}